<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Xnail / Система</title>
  <link href="assets/css/page.min.css" rel="stylesheet">
</head>


<body>

  <!-- Main container -->
  <main class="main-content">

    <section class="section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-6 mx-md-auto">
            <div class="alert <%= alert %>" role="alert">
              <p class="lead-7">
                <%= status %>
              </p>
              <p>
                <%= message %>
              </p>
              <hr>
              <p>X nail</p>
              <p class="text-center"><a class="btn btn-primary" href="/">НА ГЛАВНУЮ</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <!-- END Main container -->

</body>

</html>